.my-client-list {
  padding-top: 20px;
  .inline-item {
    width: 50%;
    display: inline-block;
  }
  .submit-div {
    padding-top: 50px;
    text-align: center;
  }
  .second-commu {
    margin-left: 20px;
  }
  .third-commu {
    margin-top: 10px;
    .el-checkbox,
    .el-checkbox + .el-checkbox {
      margin: 0 30px 0 0;
    }
  }
}
